@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
a {
  cursor: pointer;
}

html{
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  html{
    background-color: #030000;
  }
}


:focus{
  outline: none;
}

::selection {
  background-color: #f06;
  color: rgb(0, 0, 0);
}

.carousel-control-right{
  border-radius: 10% 0% 0% 10% / 20% 20% 20% 20%  ;
}

.carousel-control-left{
  border-radius: 0% 10% 10% 0% / 20% 20% 20% 20%   ;
}
