@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

button,
a {
  cursor: pointer;
}

html{
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  html{
    background-color: #030000;
  }
}


:focus{
  outline: none;
}

::selection {
  background-color: #f06;
  color: rgb(0, 0, 0);
}